.logo {
    font-size: 32px;
    color: green;
    font-family: 'Courier New', Courier, monospace;
    text-shadow: 0 0 2px green;

    position: absolute;
    margin-left: 100px;
    margin-top: 50px;
}

.input-section {
    float: right;
    margin-right: 200px;
    margin-top: 61px;
}

.amount-input {
    width: 120px;
}

.submit {
    display: block;

    margin-top: 20px;
}

.table-section {
    width: 550px;

    position: absolute;
    left: 67%;
    top: 25%;
    transform: translate(-50%, -50%);
}

.table-elements {
    display: inline-block;

    font-size: 14px;
    opacity: 0.5;

    margin-left: 110px;
}

.user-content {
    width: 150px;
    height: 25px;

    float: left;

    position: relative;
    left: 50.3%;
    margin-top: 14%;

    text-align: center;
    display: block;

    font-size: 14px;
    color: rgb(75, 75, 75);
    border: 1px solid black;
}
